Django==5.1.5
django-extensions==3.2.3
django-simple-captcha==0.6.0
dj-database-url==2.3.0
python-dotenv==1.0.1
psycopg[binary]>=3.1.0
pillow==10.4.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
whitenoise==6.8.2
gunicorn==22.0.0
