{% extends 'base.html' %}
{% load static %}
{% block title %}Articles par catégorie{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-2 mt-5">
            <div class="list-group">
                <a href="{% url 'articles_by_category' %}" class="list-group-item {% if not category_id %}active{% endif %}">Toutes les catégories</a>
                {% for category in categories %}
                <a href="{% url 'articles_by_category' %}?category={{ category.id }}" class="list-group-item {% if category_id == category.id %}active{% endif %}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10"> <!-- Ajout de la classe mt-5 pour décaler la partie principale vers le bas -->
            <h2 class="text-center">Articles</h2>
            {% if articles %}
            <div class="row">
            {% for article in articles %}
            <div class="col-6 col-md-4 col-lg-3 mb-4"> 
                <div class="card mb-2 p-2">
                    {% if article.image1 %}
                    <a href="{% url 'detail' article.id %}">
                        <img src="{{ article.image1.url }}" class="card-img-top" alt="Card image cap" style="height: 240px;"/>
                    </a>
                    {% else %}
                    <a href="{% url 'detail' article.id %}">
                        <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="Card image cap" style="height: 240px;"/>
                    </a>
                    {% endif %}
                    <div class="card-body" style="height:350px">
                        <h5 class="card-title"><a href="{% url 'detail' article.id %}">{{ article.nom }}</a></h5>  
                        <h6 class="card-title">{{ article.prix }} FCFA/JOUR</h6>
                        <p class="card-text">{{ article.description|truncatewords:8 }}.</p>
                        <p class="card-text">Publié il y a {{ article.created_at|timesince }}</p>
                        <p class="card-text">
                            {% if article.is_available %}
                            <span class="text-success">Disponible</span>
                            {% else %}
                            <span class="text-danger">Indisponible</span>
                            {% endif %}
                        </p>
                        <div class="d-flex justify-content-between">
                            {% if article.is_available %}
                            <a href="{% url 'reservation_page' article.id %}" class="btn btn-success">Réserver</a>
                            {% else %}
                            <button class="btn btn-secondary" disabled>Indisponible</button>
                            {% endif %}
                            <a href="{% url 'detail' article.id %}" class="btn btn-success mx-2" data-mdb-ripple-init>Voir Détail</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <h6 class="text-center">Aucun article trouvé.</h6>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
