<!-- Barre de navigation Bootstrap --> 

<nav class="navbar navbar-expand-lg bg-dark ">
  <a class="navbar-brand text-white" href="{% url 'home' %}">Acceuil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link  text-white" href="{% url 'dashboard' %}">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'articles_by_category' %}">Catégories</a>
      </li>
    </ul>
    </div>
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="btn btn-info mr-2">Déconnexion</a>
    {% else %}
    <a href="{% url 'register' %}" class="btn btn-info">Inscription</a>
    <a href="{% url 'login-blog' %}" class="btn btn-info mr-2">Connexion</a> 
    {% endif %}

    <form class="form-inline ml-auto" action="{% url 'search' %}">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2 " type="text" placeholder="Recherche" aria-label="Search" name="Article">
      </div>
    </form>
</nav>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>